.App {
  text-align: center;
  font-size: 1.6rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.test{
  font-size: 3rem;
  padding: 0 10rem 0 10rem;
}


.App-link {
  color: #61dafb;
}

@media only screen and (max-width: 870px) {
  .test{
    font-size: 2rem;
    padding: 1rem 1rem 1rem 1rem;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
