.App {
  text-align: center;
  font-size: 1.6rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.test{
  font-size: 3rem;
  padding: 0 10rem 0 10rem;
}


.App-link {
  color: #61dafb;
}

blockquote{
  font-size: 3rem;
  width:80%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid blueviolet ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:blueviolet;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:blueviolet;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

@media only screen and (max-width: 870px) {
  .test{
    font-size: 2rem;
    padding: 1rem 1rem 1rem 1rem;
  }
}

@media only screen and (max-width: 500px) {
  blockquote{
    font-size: 2rem;
    width:50%;  
    padding:1.2em 30px 1.2em 75px;
  }
  
  blockquote::before{
    font-size:4em;
    left: 10px;
    top:-10px;
  }
  
  blockquote span{
    margin-top:1em;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
