.home{
    height: 100vh;
    background-size: cover;
    background-position: left bottom;
    /*clip-path: polygon(0 0,100% 0, 100% 75%, 0 100%);*/
    position: relative;


    background-image: linear-gradient(
        to bottom,
        rgb(156, 136, 255, 0.4),
        rgb(40, 180, 133, 0.2)),
        url(./images/home_background_3.jpg);
} 

.home__container{
    border: 4px black solid;
    position: relative;
}
.home__container__text{
    margin: 0;
    position: absolute;
    left: 40%;
    top: 10%;
    font-family: 'Merienda', cursive;
    color: white;

}
.home__container__text--title{
    display: block;
    font-size: 7rem;
}


.home__container__text--secondary{
    font-size: 3rem;
}

.home__container__chakras__main{
    position: absolute;
    width: 20%;
    height: 20px;
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.home__container__chakras p{
    font-family: 'Merienda', cursive;
    color: white;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.home__container__chakras{
    transition: 1s;
    cursor: pointer;

    background-color: rgb(34, 47, 62,0.8);
    z-index: 1;
}

.home__container__chakras:hover >  img{
    transform: rotate(360deg);
}

.home__container__chakras:hover{
    transform: scale(1.1);
    background-color: rgb(156, 136, 255, 0.6);
}

.home__container__chakras img:hover{
    transform: rotate(360deg);
}

.home__container__chakras img{
    height: 6.5rem;
    margin: 0;
    padding: 0px;
    transition: 5s;
}

/*
.home__container__chakras--ch1{
    grid-row: 1;
    grid-column: 1;
}


.home__container__chakras--ch2{
    grid-row: 2;
    grid-column: 2;
}

.home__container__chakras--ch3{
    grid-row: 1;
    grid-column: 3;
}

.home__container__chakras--ch4{
    grid-row: 2;
    grid-column: 4;
}

.home__container__chakras--ch5{
    grid-row: 1;
    grid-column: 5;
}

.home__container__chakras--ch6{
    grid-row: 2;
    grid-column: 6;
}

.home__container__chakras--ch7{
    grid-row: 1;
    grid-column: 7;
}
*/

@media only screen and (max-width: 1200px) {
    .home__container__chakras p{
        font-size: 1.5rem;
    }
}


@media only screen and (max-width: 750px) {

    .home__container__text{
        left: 30%;
        top: 10%;
    
    }
    .home__container__text--title{
        display: block;
        font-size: 5rem;
    }
    
    
    .home__container__text--secondary{
        font-size: 2rem;
    }

    .home__container__chakras img{
        height: 6rem;
    }

    .home__container__chakras p{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 550px) {
    .home__container__chakras__main{
        position: absolute;
        width: 20%;
        height: 20px;
        display: grid;
        grid-template-columns: 1fr;
    }

    .home__container__text--title{
        display: block;
        font-size: 4rem;
    }
    
    
    .home__container__text--secondary{
        font-size: 1.5rem;
    }

    .home__container__text{
        left: 25%;
        top: 10%; 
    }
    
}

@media only screen and (max-width: 500px) {
    .home{
        background-position: left 20% bottom;
    }
}

@media only screen and (max-height: 600px) {
    .home__container__chakras__main{
        grid-template-rows: repeat(7, 70px);
    }

    .home__container__chakras img{
        height: 4rem;
    }

    .home__container__chakras p{
        font-size: 1rem;
    }
}

@media only screen and (max-height: 500px) {
    .home__container__chakras__main{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 70px);
    }

    .home__container__chakras img{
        height: 4rem;
    }

    .home__container__chakras p{
        font-size: 1rem;
    }
}

