.reiki{

}

.reiki__section{
    padding: 0;
    margin: 0;
} 

.reiki__section h2{
    margin: 0;
    font-size: 4rem;
    color: rgb(15, 238, 255,.3)
} 

.reiki__section p{
    font-size: 2.2rem;
    margin: 0;
    line-height: 200%;
    margin-top: 2rem;
    margin-bottom: 2rem;
} 

.reiki__section--1 h2{
    color: rgb(169, 62, 255,.5);
}

.reiki__section--2 h2{
    color: rgb(42, 144, 255,.3);
}

@media only screen and (max-width: 1200px) {
    .reiki__section h2{
        font-size: 3rem;
    } 
    
    .reiki__section p{
        font-size: 1.5em;
        line-height: 200%;
    } 
}

@media only screen and (max-width: 600px) {
    .reiki__section h2{
        font-size: 1.8rem;
    } 
    
    .reiki__section p{
        font-size: 1.5rem;
        line-height: 100%;
    } 
}