.social-medias{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    position: fixed;
    left: 2%;
    top: 20%;
    z-index: 1;
    width: 4rem;
    height: 3rem;
}

.social-medias__whatsapp{
    cursor: pointer;
}


.social-media_button{
    transition: 1.5s;
}

.social-media_button:hover{
    transform: scale(1.1);
}

.social-medias .fa-facebook, .social-medias .fa-instagram, .social-medias .fa-whatsapp{
    font-size: 3rem;
    border-radius: 50%;
    border: gray solid .2px;
    margin-bottom: 1rem;
    width: 3rem;
    height: 3rem;
}


@media only screen and (max-width: 600px) {
    .social-medias{
        left: 82%;
    }
    
    .social-medias .fa-facebook, .social-medias .fa-instagram, .social-medias .fa-whatsapp{
        font-size: 1.8rem;
        padding: 1.8rem;
        width: 1.8rem;
        height: 1.8rem;
    }
}
