.header__container{
    height: 95vh;
    background-image: linear-gradient(
        to bottom,
        rgb(156, 136, 255, 0.4),
        rgb(40, 180, 133, 0.2)),
        url(./hero.jpg);
    background-size: cover;
    background-position: left bottom;
    clip-path: polygon(0 0,100% 0, 100% 75%, 0 100%);
    position: relative;
}

.header__container__text{
    margin: 0;
    position: absolute;
    left: 15%;
    top: 20%;
    font-family: 'Merienda', cursive;
    color: white;
}

.header__container__text__title{
    display: block;
    font-size: 7rem;
}

.header__container__text__secundary{
    font-size: 3rem;
}

@media only screen and (max-width: 1250px) {
    .header__container{
        clip-path: polygon(0 0,100% 0, 100% 75%, 0 100%);
        position: relative;
    }

    .header__container__text{
        margin: 0;
        position: absolute;
        left: 15%;
        top: 30%;
    }

    .header__container__text__title{
        display: block;
        font-size: 5rem;
    }
    
    .header__container__text__secundary{
        font-size: 2rem;
    }
  }

  @media only screen and (max-width: 600px) {
    .header__container{
        background-position:right bottom;
        background-position: center;
        background-size: no-repeat;
    }

    .header__container__text{
        margin: 0;
        position: absolute;
        left: 20%;
        top: 10%;
    }

    .header__container__text__title{
        display: block;
        font-size: 4rem;
    }
    
    .header__container__text__secundary{
        font-size: 2rem;
    }


    @media only screen and (max-width: 450px) {
        .header__container{
            background-position:80%;
        }
    
        .header__container__text{
            margin: 0;
            position: absolute;
            left: 10%;
            top: 10%;
        }
    
        .header__container__text__title{
            display: block;
            font-size: 3rem;
        }
        
        .header__container__text__secundary{
            font-size: 2rem;
        }
    }
  }
