.header__container{
    height: 95vh;
    background-size: cover;
    background-position: left bottom;
    /*clip-path: polygon(0 0,100% 0, 100% 75%, 0 100%);*/
    position: relative;
    border-bottom-left-radius: 50% 5%;
     border-bottom-right-radius: 50% 20%;
    box-shadow: 0.1rem 0.1rem blueviolet;
}

.header__container--chakras{
    background-image: linear-gradient(
        to bottom,
        rgb(156, 136, 255, 0.4),
        rgb(40, 180, 133, 0.2)),
        url(./images/hero.jpg);
}

.header__container--bg1{
    background-image: linear-gradient(
        to bottom,
        rgb(156, 136, 255, 0.4),
        rgb(40, 180, 133, 0.2)),
        url(./images/meditation.jpg);
}

.header__container--bg2{
    background-image: linear-gradient(
        to bottom,
        rgb(156, 136, 255, 0.5),
        rgb(40, 180, 133, 0.1)),
        url(./images/reiki_therapy.jpg);
}

.header__container--bg3{
    background-image: linear-gradient(
        to bottom,
        rgb(156, 136, 255, 0.4),
        rgb(40, 180, 133, 0.2)),
        url(./images/hero5.jpg);
}

.header__container--bg4{
    height: 80vh;
    background-image: linear-gradient(
        to bottom,
        rgb(156, 136, 255, 0.4),
        rgb(40, 180, 133, 0.2)),
        url(./images/hero6.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.header__container--bg5{
    height: 50vh;
    background-image: linear-gradient(
        to bottom,
        rgb(156, 136, 255, 0.4),
        rgb(40, 180, 133, 0.2)),
        url(./images/hero3.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.header__container--bg4 h1{
    color: black;
}

.container__about{
    position: absolute;
    left: 30%;
    top: 60%;
}


.header__container__text{
    margin: 0;
    position: absolute;
    left: 15%;
    top: 20%;
    font-family: 'Merienda', cursive;
    color: white;
}

.header__container__text--right{
    margin: 0;
    position: absolute;
    left: 70%;
    top: 20%;
    font-family: 'Merienda', cursive;
    color: white;
}

.header__container__text__title{
    display: block;
    font-size: 7rem;
}

.header__container__text__secundary{
    font-size: 3rem;
}

@media only screen and (max-width: 1250px) {
    .header__container{
        clip-path: polygon(0 0,100% 0, 100% 75%, 0 100%);
        position: relative;
    }

    .header__container__text, .header__container__text--right{
        margin: 0;
        position: absolute;
        left: 15%;
        top: 30%;
    }

    .header__container__text__title{
        display: block;
        font-size: 5rem;
    }
    
    .header__container__text__secundary{
        font-size: 2rem;
    }

    
    .header__container--bg1{

    }
    
    .header__container--bg2{

    }
    
    .header__container--bg3{

    }
  }

  @media only screen and (max-width: 600px) {
    .header__container{
        background-position: center;
        background-size: no-repeat;
        clip-path: none;
    }

    .header__container__text{
        margin: 0;
        position: absolute;
        left: 20%;
        top: 10%;
    }

    .header__container__text__title{
        display: block;
        font-size: 4rem;
    }
    
    .header__container__text__secundary{
        font-size: 2rem;
    }

    
    .header__container--bg1{

    }
    
    .header__container--bg2{

    }
    
    .header__container--bg3{

    }
  }

  @media only screen and (max-width: 450px) {
    .header__container{
        background-position:80%;
    }

    .header__container__text{
        margin: 0;
        position: absolute;
        left: 10%;
        top: 10%;
    }

    .header__container__text__title{
        display: block;
        font-size: 3rem;
    }
    
    .header__container__text__secundary{
        font-size: 2rem;
    }

    .header__container--bg1{
        background-position: 50%;
    }
    
    .header__container--bg2{
        background-position: 45% bottom;
    }
    
    .header__container--bg3{
        background-position: 50%;
    }
}