
.location h3{
    font-size: 4rem;
}

.location h2{
    font-size: 3rem;
}


.location img{
    width: 80%;
    padding-right: 10%;
    padding-left: 5%;
    margin-bottom: 5%;
}

.location .contact__title{
    padding-top: 6%;
    font-size: 5rem;
}

.location__map{
    cursor: pointer;
}