.footer{
    background-color: #2d3436;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 15vh;
    align-content: center;
}

.footer h2{
    font-size: 1.2rem;
    font-family: 'Merienda', cursive;
}

