.footer{
    background-color: #2d3436;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 15vh;
    align-content: center;
}

.footer h2{
    font-size: 1.2rem;
    font-family: 'Merienda', cursive;
}

.footer ul {
    list-style: none;
}

.footer li {
    display: inline-block;
    cursor: pointer;
}

.footer li i{
    font-size: 2rem;
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 1rem;
}

.fa-linkedin{
    background-color: #007bb5;
}
.fa-facebook{
    background-color: #3b5998;
}

@media only screen and (max-width: 870px) {
    .footer{
        height: 30vh;
    }
}
