.about-me strong{
    font-size: 2rem;
}

.about-me__explanation, .about-me__footer-text{
    display: grid;
    grid-template-columns: 40% 55%; 
}

.about-me__explanation img,  .about-me__footer-text img{
    width: 65%;
    padding-left: 20%;
    padding-top: 5%;
}

.about-me p{
    font-size: 2rem;
}


.about-me__explanation__full-width{
    padding-left: 3%;
    padding-right: 3%;
    line-height: 3.4rem;
}

.about-me__explanation__full-width blockquote{
    font-size: 2rem;
}

.about-me__title{
    margin-top: 2%;
    font-size: 3rem;
    margin-bottom: 3%;
}

.about-me__explanation__Text{
    padding-left: 5%;
    line-height: 4rem;
}

.about-me__footer-text__text{
    line-height: 5rem;
}

.terapy_img{
    width: 80%
}

.about-me__resume{
    padding-left: 10%;
    padding-right: 10%;
}

.about-me__resume__capital{
    font-size: 4rem;
    color: blueviolet;
}


@media only screen and (max-width: 1200px) {
    .about-me__explanation img {
        width: 80%;
        padding: 10%;
        padding-top: 30%;
    }
}

@media only screen and (max-width: 800px) {

    .about-me__explanation, .about-me__footer-text{
        display: gird;
        grid-template-columns: 1fr; 
    }

    .about-me__explanation img,  .about-me__footer-text img {
        width: 80%;
        padding: 0;
        padding-left: 10%;
    }
}
@media only screen and (max-width: 750px) {


    
    .about-me__explanation__Text{
        padding-left: 5%;
        padding-right: 10%;
        padding-top: 0%;
    }
    .about-me p{
        font-size: 1.7rem;
        line-height: 2.2rem;
    }
}