
.header__nav{
    margin: 0;
    border-radius: 1em;
    background-color: rgb(0, 0, 0, .5);
    margin-bottom: 0.5rem;
    position: fixed;
    z-index: 1;
    width: 80%;
    left: 10%;
}


.header__nav__navigator__list{
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0;
}

.header__nav__navigator__list p{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 1rem;
    display: inline-block;
    margin: 1rem;
    font-size: 2rem;
    color: blueviolet;
}

.header__nav__navigator__list__div{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 5rem;
    padding-top: 1rem;
    justify-items: center;
    align-items: center;
    transition: 1.5s;
    cursor: pointer;
}

.ch_con:hover{
    transform: scale(1.1);
}
.ch_con--1:hover{
    background-color: rgb(169, 62, 255,.5);
}
.ch_con--2:hover{
    background-color: rgb(42, 144, 255,.3);
}
.ch_con--3:hover{
    background-color: rgb(15, 238, 255,.3);
}
.ch_con--4:hover{
    background-color: rgb(138, 255, 74,.3);
}
.ch_con--5:hover{
    background-color: rgb(249, 250, 11,.3);
}
.ch_con--6:hover{
    background-color: rgb(254, 161, 14,.3);
}
.ch_con--7:hover{
    background-color: rgb(244, 19, 33,.3);
}

.header__nav_icon img{
    display: none;
    width: 15rem;
    height: auto;
}



.header__nav__navigator__list__div .ch_1{
    color: rgb(169, 62, 255);
}


.header__nav__navigator__list__div .ch_2{
    color: rgb(42, 144, 255);
}

.header__nav__navigator__list__div .ch_3{
    color: rgb(15, 238, 255);
}

.header__nav__navigator__list__div .ch_4{
    color: rgb(138, 255, 74);
}

.header__nav__navigator__list__div .ch_5{
    color: rgb(249, 250, 11);
}

.header__nav__navigator__list__div .ch_6{
    color: rgb(254, 161, 14);
    
}

.header__nav__navigator__list__div .ch_7{
    color: rgb(244, 19, 33);
    
}

@media only screen and (max-width: 1200px) {

    .header__nav{
        left: 0;
        background-color: rgb(0, 0, 0, 0);
        width: 100%;
    }
    
    
    .header__nav__navigator__list{
    }

    .header__nav__navigator__list__div__ch-logo img{
        width: 10%;
        height: auto;
    }   
}

@media only screen and (max-width: 870px) {
    

    .header__nav_icon img{
        background-color: rgb(0, 0, 0, .5);
        border-radius: 50px;
        display: initial;
        width: 15rem;
        height: auto;
        position: fixed;
        left: 1%;
        width: 7rem;
        transition: 1s;
    }

    .header__nav_icon img:hover{
        transform: scale(1.1);
        background: rgb(176,34,173);
        background: linear-gradient(90deg, rgba(176,34,173,0.5) 0%, rgba(9,24,121,0.9054972330729166) 39%, rgba(255,175,0,0.5) 100%);   
    }
    
    .header__nav__navigator__list{
        display: none;
    }

    .header__nav__navigator__list__div__ch-logo img{
    }
} 